<h1> All Karts </h1>

<ol>
    <% @karts.each do |kart| %>
        <li> 
            <%= link_to kart.name, kart_path(kart.id) %> |
            <%= kart.garage.name %> |
            <%= link_to "Review this kart", new_kart_review_path(kart.id) %> |
            <%= link_to "Previous Reviews for this kart", kart_reviews_path(kart.id) %> |
        </li>
    <% end %>
</ol>

<hr>
<h5><%= link_to "Help?", how_to_use_path %></h5>