<h1> Build a Kart </h1>

<div class="flashmessage">
    <%= @kart.errors.full_messages %>
</div>

<%= form_for @kart do |f| %>

    <%= f.text_field :name, placeholder: "Kart Name", required: true %>
    <%= f.collection_select :driver, Kart::DRIVERS, :to_s, :to_s, include_blank: "Driver" %>
    <%= f.collection_select :color, Kart::COLORS, :to_s, :to_s, include_blank: "Color" %>
    <%= f.collection_select :body, Kart::BODIES, :to_s, :to_s, include_blank: "Body" %>
    <%= f.collection_select :wheels, Kart::WHEELS, :to_s, :to_s, include_blank: "Wheels" %>

    <p>
     Select a Garage:
        <%= f.collection_select :garage_id, Garage.all, :id, :name, include_blank: "Pick a Garage" %>
    </p>

    <p>
    Create a new Garage:
        <%= f.fields_for :garage do |g| %>
            <%= g.text_field :name, placeholder: "Garage Name" %>
        <% end %>
    </p>

    <%= f.submit "Build this Kart" %>
<% end %>

<hr>