<h1> <%= @kart.name %> </h1>
<h3> 
| <%= @kart.driver %> 
| <%= @kart.color %> 
| <%= @kart.body %> 
| <%= @kart.wheels %> 
|
<div class="builder">
    <% if @kart.driver == "Driver1" %>  
        <%= image_tag ("Driver1.png"), class:"driver" %> 
    <% else %>
        <%= image_tag ("Driver2.png"), class:"driver" %> 
    <% end %>

    <% if @kart.body == "Body1" && @kart.color == "Red" %>
        <%= image_tag ("Body1Red.png"), class:"color" %> 
    <% elsif @kart.body == "Body1" && @kart.color == "Blue" %>
        <%= image_tag ("Body1Blue.png"), class:"color" %> 
    <% elsif @kart.body == "Body1" && @kart.color == "Purple"%>
        <%= image_tag ("Body1Purple.png"), class:"color" %> 
    <% end %>
    <% if @kart.body == "Body2" && @kart.color == "Red" %>
        <%= image_tag ("Body2Red.png"), class:"color" %> 
    <% elsif @kart.body == "Body2" && @kart.color == "Blue" %>
        <%= image_tag ("Body2Blue.png"), class:"color" %> 
    <% elsif @kart.body == "Body2" && @kart.color == "Purple" %>
        <%= image_tag ("Body2Purple.png"), class:"color" %> 
    <% end %>

    <% if @kart.body == "Body1" %>
        <%= image_tag ("Body1.png"), class:"body" %>
    <% else %>
        <%= image_tag ("Body2.png"), class:"body" %>
    <% end %>

    <% if @kart.wheels == "Wheels1" %>
        <%= image_tag ("Wheels1.png"), class:"wheels" %>
    <% else %>
        <%= image_tag ("Wheel2.png"), class:"wheels" %> 
    <% end %>
</div>


</h3>

<h3> Reviews for <%= @kart.name %>: </h3>
<ul>
<% @kart.reviews.sort_by(&:rating).reverse.each do |review| %>
    <li><%= review.rating %> - <%= review.content %></li>
<% end %>
</ul>

<hr>
<h5><%= link_to "Help?", how_to_use_path %></h5>