<h1> Check out some Kart Reviews Below </h1>
<%# sort by highest rating first %>
<ol>
    <% @reviews.sort_by(&:rating).reverse.each do |review| %>
        <li> 
        <%= review.kart.name %> |
        <%= review.rating %> |
        <%= review.content %> - 
        <%= review.user.name %>
        </li>
    <% end %>
</ol>

<hr>
<h5><%= link_to "Help?", how_to_use_path %></h5>