<!DOCTYPE html>
<html>
  <head>
    <title>PixelKart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if logged_in? %>
        <nav>
          | <%= link_to "Home", user_path(@user) %>
          | <%= link_to "Kart Maker", new_kart_path %>
          |
        </nav>
      <% end %>
    </header>

    <%= yield %>
  
    <footer>
      <% if logged_in? %>
        <%= link_to "Log Out", logout_path, method: "delete" %>
      <% end %>

      <div class="copyright"><small> &copy;2020 PixelKartv1 </small></div>
    </footer>
  </body>
</html>
